.catalog__container {
  max-width: 1236px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 196px);
  justify-content: center;
  gap: 4px;
}

.catalog__btn-add {
  color: #ffffff;
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  font-weight: 600;
}


